<header>
    <div class="navbar">
            <p><a href = "/">
            <img src="img/logonobg.png" width="100" height="auto">
            </p></a>
                <ul>
                    <a href="/"><li style="color: #CE4826;">Home</li></a>
                    <a href="/OurMenu"><li>Our Menu</li></a>
                    <a href="/Cart"><li>Cart</li></a>
                    <a href="/Account"><li>Account</li></a>
                </ul>
        </div>
    </div>
</header>