<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <%- include('./partials/navbar.ejs') %>

    <!--Main Page Content-->

        <div class="ourMenuSize2">
            <h1 style="font-size:50px;">ERROR 404 PAGE NOT FOUND :(</h1> 
        </div>
    
        

        <div class="footer">
            <h2>Contact us:</h2>
            <p id="contactUs">EMAIL:simplytasty2022@gmail.com <br>
            PHONE:09166168765</p>
        </div>
            
    </body>
    
</html>
